{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>KitabGhar/aboutus</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{%static 'kitab/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'kitab/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> 
<link href="{% static 'kitab/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'kitab/project_dropdown_menu2.css' %}" rel="stylesheet" type="text/css">
<!--<link href="{% static 'kitab/project_dropdown_menu1.css' %}" rel="stylesheet" type="text/css">-->
<link href="{% static 'kitab/agency.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container">
    <div>{% include "kitab/header.html" %}</div>
    <div id="templatemo_content">
        
        <div>{% include "kitab/sidebar.html" %}</div>

        	<div class="" style="display:inline; margin-left:5%">
                <div class="col-md-" style="margin-top:2%;">
                    <img class="img-responsive" src="../../../media/{{q.aboutus_image}}" alt="Mutech image" style="height:300px; width:95%">
                </div>
                <div class="col-md-">
                    <h2>{{ q.aboutus_title }}</h2>
                    <p align="justify">Kitab-Ghar is a oline collection of links of the ebooks required for different course</p>
                    <p align="justify">Here at Kitab-Ghar we have collected the live link from which ebooks can be download with single click. we have classified books on the basis of subjects and courses </p>
                    <p align="justify">The Kitab-Ghar aims at provide the visitor a simple and sweet way to getting to the desired ebook</p>
                    <p align="justiy">And for our visitor we have also providing a mechanism for requesting the book in which the desirable ebook is searched by us and is provided to the user</p>
                    <p align="center"></p>
                </div>
           	</div>

        <div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    <div style="margin-left: -20px;">{% include "kitab/footer.html" %}</div>
    <!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'kitab/js/jquery.min.js' %}"></script>
<script src="{% static 'kitab/js/bootstrap.min.js' %}"></script>
<script src="{% static 'kitab/js/sb-admin-2.js' %}"></script>
<script src="{% static 'kitab/js/metisMenu.min.js' %}"></script>
</body>
</html>