{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>KitabGhar/Catagaries</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{%static 'kitab/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'kitab/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> 
<link href="{% static 'kitab/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'kitab/project_dropdown_menu2.css' %}" rel="stylesheet" type="text/css">
<!--<link href="{% static 'kitab/project_dropdown_menu1.css' %}" rel="stylesheet" type="text/css">-->
<link href="{% static 'kitab/agency.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container">
    
    <div>{% include "kitab/header.html" %}</div>
    <div id="templatemo_content">
        
        <div>{% include "kitab/sidebar.html" %}</div>
       
       {% if book_list %}
       	{% for q in book_list %}

        <div id="templatemo_content_right">
            <div class="templatemo_product_box">
                <h1>{{ q.book_name }}  <span>(by {{ q.book_author }})</span></h1>
          <img src="{% static 'kitab/img/templatemo_image_01.jpg' %}" alt="image" />
                <div class="product_info">
                    <p>Etiam luctus. Quisque facilisis suscipit elit. Curabitur...</p>
                  <h3>$55</h3>
                    <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                    <div class="detail_button"><a href="subpage.html">Download pdf</a></div>
                </div>
                <div class="cleaner">&nbsp;</div>
            </div>
            
            <div class="cleaner_with_width">&nbsp;</div>
       {% endfor %}
	{% endif %}            
            
            
            
            
            
            
            
            <a href="subpage.html"><img src="{% static 'kitab/img/templatemo_ads.jpg' %}" alt="ads" /></a>
        </div> <!-- end of content right -->
    
        <div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    
    <!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->
<div>{% include "kitab/footer.html" %}</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'kitab/js/jquery.min.js' %}"></script>
<script src="{% static 'kitab/js/bootstrap.min.js' %}"></script>
<script src="{% static 'kitab/js/sb-admin-2.js' %}"></script>
<script src="{% static 'kitab/js/metisMenu.min.js' %}"></script>
</body>
</html>