{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>KitabGhar/ContactUs</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{%static 'kitab/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'kitab/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> 
<link href="{% static 'kitab/bootstrap.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'kitab/project_dropdown_menu2.css' %}" rel="stylesheet" type="text/css">
<!--<link href="{% static 'kitab/project_dropdown_menu1.css' %}" rel="stylesheet" type="text/css">-->
<link href="{% static 'kitab/agency.css' %}" rel="stylesheet" type="text/css">
<style>
    .header {
        background-color: ;
        color: #36A0FF;
        font-size: 27px;
        padding: 10px; 
    }
</style>
</head>
<body>
<script>
function fun() {
    alert("Your message is sent to admin!");
}
</script>
<div id="templatemo_container">
    <div>{% include "kitab/header.html" %}</div>
    <div id="templatemo_content">  
    <div class="">   
        <div>{% include "kitab/sidebar.html" %}</div>
        <div class="col-md-1"></div>
    
        <div class="col-md-6">
            
                <form class="form-horizontal" id="form" method="post" novalidation>
                {% csrf_token %}
                    <fieldset>
                        <legend class="text-center header">Contact us</legend>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="fname" name="fname" type="text" placeholder="First Name" class="form-control" onkeypress="return onlyChars(event)" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="lname" name="lname" type="text" placeholder="Last Name" class="form-control" onkeypress="return onlyChars(event)" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="email" name="email" type="email" required data-validation-required-message="Please enter your email-id." placeholder="Email Address" class="form-control" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="phone" name="phone_no" type="text" placeholder="Phone No" class="form-control" onkeypress="return onlyNumbers(event)" maxlength="12" minlength="10" required="required">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <textarea class="form-control" id="message" name="message" placeholder="Enter your message for us here. We will get back to you shortly." rows="7"
                                required="required"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg" onclick="fun()" >Submit</button>
                      
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
		</div>            
    </div> <!-- end of content -->
    <div>{% include "kitab/footer.html" %}</div>
    <!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->


<script>
    function myFunction() {
        document.getElementById("demo").innerHTML = "Hello World";
    }
    function onlyChars(event)
    {
        var e =event;
        var charCode = e.which || e.keyCode;
        if ((charCode >= 65 && charCode <= 90) || (charCode >= 97 && charCode <= 122) || charCode == 8 || charCode == 9 || charCode == 32)
            return true;
        else 
            return false;
    }
    function onlyNumbers(event)             
    {
        var e =event; 
        var charCode = e.which || e.keyCode;
            if ((charCode >= 48 && charCode <= 57) || charCode == 8 || charCode == 37 || charCode == 39 || charCode == 9) 
                 return true;
            else
                 return false;
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'kitab/js/jquery.min.js' %}"></script>
<script src="{% static 'kitab/js/bootstrap.min.js' %}"></script>
<script src="{% static 'kitab/js/sb-admin-2.js' %}"></script>
<script src="{% static 'kitab/js/metisMenu.min.js' %}"></script>
</body>
</html>