{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>KitabGhar</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="{%static 'kitab/templatemo_style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'kitab/bootstrap.min.css' %}" rel="stylesheet" type="text/css"> 
<link href="{% static 'kitab/bootstrap.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
<!--  Free CSS Templates from www.templatemo.com -->
<div id="templatemo_container">
    <div>{% include "kitab/header.html" %}</div>
    <div id="templatemo_content">
        <div id="templatemo_content_right">
            <a href="subpage.html"><img src="{% static 'kitab/img/templatemo_ads.jpg' %}" alt="ads" /></a>
        </div> <!-- end of content right -->
    
        <div class="cleaner_with_height">&nbsp;</div>
    </div> <!-- end of content -->
    <div>{% include "kitab/footer.html" %}</div>
    <!--  Free CSS Template www.templatemo.com -->
</div> <!-- end of container -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{% static 'kitab/js/jquery.min.js' %}"></script>
<script src="{% static 'kitab/js/bootstrap.min.js' %}"></script>
</body>
</html>